@media screen and (max-width:993px) {
    html,
    body { overflow-x: hidden; }
    .responsive-header { display: inline-block; width: 100%; position: fixed; left: 0; top: 0; background: #fff; box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 28%); padding: 10px 0; z-index: 999 }
    .site_header { width: 100%; height: 100%; background: #fff; overflow: auto; padding-top: 70px; transition: 0.5s all; left: -9999px; opacity: 0; visibility: hidden; }
    .site_header .sticky { display: none; }
    .site_header .container { flex-direction: column; align-items: flex-start; }
    .responsive-header .container { display: flex; align-items: center; justify-content: space-between; }
    .responsive-header .logo { display: flex; align-items: center; }
    .responsive-nav .btn-primary { padding: 5px 10px; font-size: 16px; }
    .responsive-header .logo img { max-width: 120px; }
    .responsive-header .menu-click { padding: 0; width: 40px; height: 40px; font-size: 23px; border: none; }
    .banner_set_container { margin: 0px; margin-top: 50px; margin-bottom: 30px; }
    .hero-banner { padding: 20px 0; }
    h1 { font-size: 30px; }
    body { font-size: 16px; }
    h2 { font-size: 25px; }
    .hero-banner .fs-5 { font-size: 18px !important }
    section { padding: 40px 0 }
    .w-75 { width: 100% !important }
    .industry-icons-set { margin-top: 10px; }
    .industry-icons-set .box { max-width: 140px; }
    .industry-icons-set .box .title { font-size: inherit; }
    .industry-icons-set .box .icon:before { display: none; }
    .industry-icons-set .box .icon { height: 45px }
    .industry-icons-set .box .icon svg { font-size: 50px; }
    .top-overlay { display: none; }
    .ready-to-take .box { padding: 40px 35px; border-radius: 5px; }
    .font { font-size: inherit; }
    .why_choose_card h3 { font-size: 20px; }
    .box-integration { padding: 0px; background: none; }
    .ul-tools { margin-top: 25px; padding: 0px; }
    .clients-inside { width: 140px; min-height: 60px; }
    .form-control { font-size: 16px; }
    .footer-top .col-md-6 { margin-bottom: 35px; }
    .site_footer { padding-top: 40px; background: var(--bs-text-primary); }
    .site_footer .col-md-3,
    .site_footer .col-md-4,
    .site_footer .col-md-6 { margin-bottom: 30px; }
    .site_footer .footer_policy { flex-direction: column; text-align: center; }
    .site_footer .footer_policy ul li { margin-bottom: 10px; }
    .site_footer p { text-align: center; }
    .site_footer .col-md-4 p { text-align: left; }
    .site_header .logo { display: none; }
    .navigation { flex-direction: column; justify-content: flex-end; width: 100%; align-items: flex-start; }
    .navigation li { width: 100%; margin: 0px; margin-bottom: 5px; }
    .navigation li a { width: 100%; padding: 10px; font-weight: 550; }
    .site_header .btn-primary { width: 100%; padding: 10px; border-radius: 0px; background: none; border: none; color: var(--bs-theme); text-align: left; }
    .navigation li ul { position: relative; left: 0; min-width: inherit; width: 100%; box-shadow: none; top: 0; opacity: 1; visibility: visible; padding: 0; border: none; padding-left: 15px; }
    .navigation li ul li { width: 100%; }
    .navigation li ul li a { padding: 10px; font-size: 16px; }
    .navigation li ul li a .sub-nav { padding-left: 59px; opacity: 0.7; font-size: 14px !important; width: 100%; display: inline-block; }
    .navigation li:hover ul { top: 0px; }
    .navigation li a.menu_has_child:after { content: '\f106'; }
    .powerfull-apps .col-md-6 img { max-width: 360px; }
    /* .portfolio .col-md-6 img { max-width: 340px; } */
    .powerfull-apps .row:nth-child(even) { margin-top: 50px; margin-bottom: 50px; }
    .success .row>* { max-width: 50%; border-radius: 5px; margin-bottom: 15px; }
    .mb-5 { margin-bottom: 1rem !important; }
    .industry_section { margin: 0px; }
    .our-customers-say-slider h3 { font-size: 20px; }
    .site_footer .footer_policy ul { margin-bottom: 25px; justify-content: center; }
    .sticky-mobile-shown { left: 0; visibility: visible; opacity: 1; }
    .preloader img { max-width: 130px; }
    .fs-5 { font-size: 16px !important }
    .btn.btn-lg { padding: 10px 15px; }
    .business-solution .col-md-6 { width: 100%; }
    .our-works { margin-bottom: 0px; margin-top: 0px; }
    .card-1 { padding: 20px; margin-bottom: 25px; min-height: inherit; }
    .accordion-header .accordion-button { font-size: 16px; }
    .hero-section-content .d-flex { flex-direction: column; width: 100%; align-items: center; }
    .hero-section-content .d-flex .btn { width: auto; min-width: 200px;min-height: 46px; }
    .hero-section-content .btn-outline-primary { margin-top: 15px; margin-left: 0px; }
    .hero-section { padding-top: 90px; padding-bottom: 40px; }
    .fw-18 { font-size: 16px; }
    .card-1 h3 { font-size: 18px; }
    .our-works .col { width: 100%; flex: inherit; }
    .content-listing-3 .boxed h3 { font-size: 16px; }
    /* .nav.nav-pills { white-space: nowrap; display: flex !important; width: 100% !important; flex-wrap: nowrap; justify-content: flex-start !important; overflow: auto; padding: 10px; gap: 20px; } */
    .nav.nav-pills{padding: 10px 16px;}
    .nav.nav-pills .nav-link { font-size: 16px; margin: 0; width: 100%; padding: 10px; }
    .list-group-purbis .box h5 { font-size: 18px; }
    .hero-subsection .fs-4 { font-size: 18px !important; }
    .hero-subsection .d-flex { flex-direction: column; }
    .hero-subsection .d-flex .ms-5 { margin-left: 0px !important; margin-top: 20px; }
    .hero-subsection .d-flex { flex-direction: column; width: 100%; align-items: center; }
    .hero-subsection .d-flex .btn { width: auto; min-width: 200px;min-height: 46px; }
    .hero-subsection .btn-outline-primary { margin-top: 15px; margin-left: 0px; }
    .box-integration { text-align: center; }
    .hero-subsection { padding-top: 100px; }
    .boxed-right-contact img { max-width: 60px; margin-bottom: 5px; }
    .w-50 { width: 100% !important }
    .boxed-right-contact { margin-bottom: 30px; padding: 10px; }
    .needs-validation { padding: 15px; }
    .inter-section { padding-bottom: 40px; }
    .our-work { margin: 0px }
    .why_choose_card { padding: 0px; }
    .our-work .col-md-2.mb-3 { max-width: 50%; }
    .modal-design-1 .modal-left { padding: 10px; width: 100%; min-width: inherit; }
    .modal-design-1 h2 { font-size: 25px; }
    .modal-design-1 p { font-size: 16px; }
    .modal-design-1 .modal-right { width: 100%; padding: 20px; }
    .modal-design-1 .modal-body { flex-direction: column; }
    .modal-design-1 .form-control { font-size: 16px; }
    .content-listing-3 h3 { font-size: 24px; }
    .progress-wrap { width: 40px; height: 40px; line-height: 35px; }
    .formpage .formpage_space { padding-left: 15px; }
    .formpage { background: #fff; }
    .formpage .bg-img-2,
    .formpage .bg-img-1 { display: none; }
    .form-boxed { background: none; padding: 0; box-shadow: none; margin-top: 20px; }
    .consulting-contact { padding-bottom: 0px; }
    .tech-section { padding-bottom: 50px; }
    .navigation li a.menu_has_child:after { display: none; }
    .modal-design-1 .modal-dialog { max-width: 600px; }
    .policy h3 { font-size: 20px; }
    /* thankyou */
    .thankyou .col-md-4{padding: 20px;}
}
@media screen and (max-width:767px) {
    .our-customers-say .text-center img { display: none; }
    .hero-banner { text-align: center }
}
@media screen and (min-width:994px) and (max-width:1100px) {
    .navigation li { margin: 0px; }
    html { overflow-x: hidden; }
}
